{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="container-slider">
    <div class="horizontal-scroll">
        <button class="btn-scroll" id="btn-scroll-left"><i class="fas fa-chevron-left"></i></button>
        <button class="btn-scroll" id="btn-scroll-right"><i class="fas fa-chevron-right"></i></button>
        <div class="storys-container">
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
            <!--image section-->
            <div>
                <div class="story-circle">
                    <img
                            class="img-thumbnail"
                            src="https://picsum.photos/20"
                            alt=""
                            srcset=""
                    />
                </div>
                <div class="story-text">
                    <p>blablabla</p>
                </div>
            </div>
            <!--end image section-->
        </div>
    </div>
</div>